

* {
    margin: 0;
    padding: 0;
    --color-1: #C09759;
    --color-2: #9F7044;
    --color-3: #9E8E7E;
    --color-4: #E4D7CE;
    --color-5: #DCD0C0;
    --color-6: #976856;
    --color-7: #A38062;
    --color-8: #D4B773;
    --color-9: #C3B590;
    --color-10: #DCDCD2;
    --color-11: #3b2923;
    --color-12: #7c564a;
}

.menu {
    margin: 0 0 20px 0;
    height: 50px;
    align-items: center;
    background-color: var(--color-5);
}

nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-menu-li {
    list-style: none;
    padding: 0 1.5%;
    margin: 0.7%;
    cursor: pointer;
    color: var(--color-11);
}

.nav-menu-li:hover {
    color: var(--color-12);
}

mat-card-content {
    margin-top: 12px
}

.feed-card {
  max-width: 400px;
  min-width: 300px;
  max-height: 600px;
}

.header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.grid-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-component {
    margin: 20px;
}

.text-center {
    text-align: center;
}