

* {
    margin: 0;
    padding: 0;
    --color-1: #C09759;
    --color-2: #9F7044;
    --color-3: #9E8E7E;
    --color-4: #E4D7CE;
    --color-5: #DCD0C0;
    --color-6: #976856;
    --color-7: #A38062;
    --color-8: #D4B773;
    --color-9: #C3B590;
    --color-10: #DCDCD2;
    --color-11: #3b2923;
    --color-12: #7c564a;
}

.menu {
    margin: 0 0 20px 0;
    height: 50px;
    align-items: center;
    background-color: var(--color-5);
}

nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-menu-li {
    list-style: none;
    padding: 0 1.5%;
    margin: 0.7%;
    cursor: pointer;
    color: var(--color-11);
}

.nav-menu-li:hover {
    color: var(--color-12);
}

mat-card-content {
    margin-top: 12px
}

.feed-card {
    width: 100%;
    margin: 10px;
    max-width: 350px;
    min-width: 250px;
    max-height: 600px;
}

.header-image {
  background-size: cover;
}

.grid-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-content {
    width: 60%;
    max-width: 1200px;
    min-width: 350px;
    margin: 0;
}

.left-menu {
    flex-grow: 1;
    min-width: 150px;
    margin: 0;
}

.right-menu {
    flex-grow: 1;
    min-width: 150px;
    margin: 0;
}

.editor-container {
    border: 1px solid #CCC;
    min-height: 200px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.49);
    -webkit-box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.49);
}